<h2>Books</h2>

<h2>New book</h2>
  <%= form_with model: @book do |f| %>
    <label>Title</label>
      <%= f.text_field :book_name %>

    <label>Opinion</label>
      <%= f.text_area :opinion %>
    <%= f.submit 'Create Book' %>
  <% end %>